NEXT_PUBLIC_SUPABASE_URL=https://wvkfhprjpegjyzktyueh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2a2ZocHJqcGVnanl6a3R5dWVoIiwicm9zZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTk1NzU0NywiZXhwIjoyMDY1NTMzNTQ3fQ.iC2QZ28lZigviMKNY0r89jyhNHbByaGzpvA9wqafJPA"


# Protects all scheduled jobs invoked by Vercel cron
CRON_SECRET=84d1a831cca98f70d0a26cd067b14227114ff7456338a651658e790926a23220

# Optional logging controls
LOG_LEVEL=info
LOG_PERSISTENCE=true
LOG_PERSIST_LEVEL=warn
LOG_INGEST_TOKEN=
